<% content_for :left_sidebar do %>
    <ul>
    <li class="title"><%= link_to "All lists", root_path %></li>
    <% @lists.each do |l| %>
        <li>
	   <% if l == @list %>
	     <span class="selected"><%= l.name %></span>
	   <% else %>
	    <%= link_to l.name, l %>
	   <% end %>
	</li>
    <% end %>
    </ul>
<% end %>

<div class="center-header">
  <div class="list">
    <div class="name">
      <%= @list.name %>
      <%= link_to (image_tag "calendar.png"), feed_list_url(@list, :format => :ics, :protocol => "webcal"), :title => "ical for this list only" %>
      <%= link_to (image_tag "feed.png"), feed_list_url(@list, :format => :atom), :title => "rss for this list only" %>
      <%= auto_discovery_link_tag(:atom, feed_list_url(@list, :format => :atom), :action =>"feed") %>
    </div>
    <div class="short-descr">
      <%= @list.short_descr.sanitize %>
    </div>
    <% if @current then %>
      <%= link_to "See past talks", list_path(@list, :range => :past) %>
    <% else %>
      <%= link_to "See current talks", @list %>
    <% end %>

    <ul class="properties">
      <% if can? :edit, @list %>
        <li>
          You may <%= link_to "edit", edit_list_path(@list) %> 
          <% if can? :destroy, @list %> or <%= link_to "delete", @list, :confirm => 'Are you sure you want to delete this list?', :method => :delete %><% end %>
          this list.
          <% if can? :site_admin, :all %>
            (<%= link_to "See all subscribers", show_subscribers_list_path(@list) %>)
          <% end %>
        </li>
        <% end %>
      <li class="subscriber">You are subscribed to this list. (<%= link_to"unsubscribe", subscribe_list_path(@list, :do => "unsubscribe"), :remote => true %>, <%= link_to "watch", subscribe_list_path(@list, :do => "watch"), :remote => true %>)</li>
      <li class="watcher">You are watching this list. (<%= link_to"unwatch", subscribe_list_path(@list, :do => "unsubscribe"), :remote => true %>, <%= link_to "subscribe", subscribe_list_path(@list, :do => "subscribe"), :remote => true %>)</li>
      <li class="unsubscribed">You are not subscribed to this list. (<%= link_to "watch", subscribe_list_path(@list, :do => "watch"), :remote => true %>, <%= link_to "subscribe", subscribe_list_path(@list, :do => "subscribe"), :remote => true %>)</li>
    </ul>
  </div>

    <div class="long-descr"><%= @list.long_descr.sanitize %></div>
</div>

<div class="short-talks">
    <% if @talks.length == 0 %>
    <div class="this-weeks-talks">
      No <%= if @current then "current" end %> talks
    </div>
  <% end %>

  <%= render :partial => "shared/talks", :locals => { :talks => @talks } %>
</div>

<div class="organizers">
  <% if @list.owners.length > 0 %>
    This list is organized by <%= join_with_and(@list.owners.sort { |a,b| a.email <=> b.email }.map { |u| u.name }) %>
  <% end %>
</div>

<script>
  $(".properties a[data-remote=true]").click(function () { $(".center-header").spin() });
</script>

<script>
  <%= render :partial => "shared/update_badges", :formats => [:js], :locals => { :subscribable => @list } %>
</script>