<div class="list-descr">
  <div class="actions">
    <div class="action-table">
      <% if can? :edit, @list %>
        <div class="action"><%= link_to "edit", edit_list_path(@list) %></div>
      <% end %>
      <% if can? :destroy, @list %>
        <div class="action"><%= link_to"delete", @list, :confirm => 'Are you sure?', :method => :delete %></div>
      <% end %>
    </div>
    <div class="subscribe-table">
      <div class="action subscribe"><%= link_to "subscribe", subscribe_list_path(@list, :do => "subscribe"), :remote => true %></div>
      <div class="action unsubscribe"><%= link_to "unsubscribe", subscribe_list_path(@list, :do => "unsubscribe"), :remote => true %></div>
      <div class="action watch"><%= link_to "watch", subscribe_list_path(@list, :do => "watch"), :remote => true %></div>
    </div>
  </div>
  <div class="name">
    <%= @list.name %>
    <% if @list.owner? current_user %>
      <span class="badge-owner"></span>
    <% end %>
    <% if @list.poster? current_user %>
      <span class="badge-poster"></span>
    <% end %>
    <span class="badge-subscriber"></span>
    <span class="badge-watcher"></span>
  </div>

  <div class="short-descr"><%= @list.short_descr.html_safe %></div>

  <div class="long-descr"><%= @list.long_descr.html_safe %></dev>
</div>

<hr/>

<% if @upcoming then %>
  <h2>Upcoming talks <%= link_to (image_tag "ical-24.png"), feed_list_url(@list, :format => :ics, :protocol => "webcal") %></h2>
<% else %>
  <h2>All talks (including past talks) <%= link_to (image_tag "ical-24.png"), feed_list_url(@list, :format => :ics, :protocol => "webcal") %></h2>
<% end %>

<div class="short-talks">
  <% if @talks.length == 0 %>
    No <%= if @upcoming then "upcoming" end %> talks
  <% end %>

  <%= render :partial => "shared/talks", :locals => { :talks => @talks, :subscriptions => Hash.new } %>
</div>

<span class="comment">
  <% if @upcoming then %>
    <%= link_to "See all talks", list_path(@list, :all => true) %>
    <% else %>
    <%= link_to "See only upcoming talks", @list %>
    <% end %>
</span>

<div class="organizers">
  <hr/>
  <% if @list.owners.length > 0 %>
    This list is organized by
    <%= join_with_and(@list.owners.map { |u| u.name }) %>
  <% end %>
</div>

<script>
  $(".subscribe").click(function () { $("body").spin() });
  $(".watch").click(function () { $("body").spin() });
  $(".unsubscribe").click(function () { $("body").spin() });
</script>

<script>
  <%= render :partial => "shared/update_badges.js.erb", :locals => { :subscribable => @list } %>
</script>