<div class="show-list">

<div class="name"><%= @list.name %></div>

<div class="short-descr"><%= @list.short_descr.html_safe %></div>

<div class="long-descr"><%= @list.long_descr.html_safe %></dev>

<div class="organizers">
  <% if @list.owners %>
    This list is organized by
    <%= join_with_and(@list.owners, :name) %>
  <% end %>
</div>

<% if can? :edit, @list %>
<p>
<%= link_to "edit list", edit_list_path(@list) %>
<% end %>
<% if can? :destroy, @list %>
&nbsp;&nbsp;
<%= link_to "delete list", @list, :confirm => 'Are you sure?', :method => :delete %>
</p>
<% end %>
