<div class="list-descr">
  <div class="actions">
    <div class="action-table">
      <% if can? :edit, @list %>
        <div class="action"><%= link_to image_tag("buttons/edit.png"), edit_list_path(@list) %></div>
      <% end %>
      <% if can? :destroy, @list %>
        <div class="action"><%= link_to image_tag("buttons/delete.png"), @list, :confirm => 'Are you sure?', :method => :delete %></div>
      <% end %>
    </div>
    <div class="subscribe-table">
      <div class="action subscribe"><%= link_to image_tag("buttons/subscribe.png"), subscribe_list_path(@list), :remote => true %></div>
      <div class="action unsubscribe"><%= link_to image_tag("buttons/unsubscribe.png"), unsubscribe_list_path(@list), :remote => true %></div>
      <div class="action watch"><%= link_to image_tag("buttons/watch.png"), watch_list_path(@list), :remote => true %></div>
    </div>
  </div>
  <div class="name">
    <%= @list.name %>
    <span class="subscribed"></span>
    <span class="watched"></span>
  </div>

  <div class="short-descr"><%= @list.short_descr.html_safe %></div>

  <div class="long-descr"><%= @list.long_descr.html_safe %></dev>
</div>

<hr/>

<% if @upcoming then %>
  <h2>Upcoming talks</h2>
<% else %>
  <h2>All talks (including past talks)</h2>
<% end %>

<div class="short-talks">
  <% if @talks.length == 0 %>
    No <%= if @upcoming then "upcoming" end %> talks
  <% end %>

  <%= render :partial => "talks", :locals => { :talks => @talks } %>
</div>

<span class="comment">
  <% if @upcoming then %>
    <%= link_to "See all talks", show_all_list_path(@list) %>
    <% else %>
    <%= link_to "See upcoming talks only", @list %>
    <% end %>
</span>

<div class="organizers">
  <hr/>
  <% if @list.owners.length > 0 %>
    This list is organized by
    <%= join_with_and(@list.owners.map { |u| u.name }) %>
  <% end %>
</div>

<script>
  <% if not @subscription %>
    $(".subscribed").hide();
    $(".watched").hide();
    $(".subscribe").click(function () { $("body").spin() });
    $(".watch").click(function () { $("body").spin() });
    $(".unsubscribe").hide();
  <% elsif @subscription.kind == :kind_watch %>
    $(".subscribed").hide();
    $(".subscribe").click(function () { $("body").spin() });
    $(".watch").hide();
    $(".unsubscribe").click(function () { $("body").spin() });
  <% elsif @subscription.kind == :kind_full %>
    $(".watched").hide();
    $(".subscribe").hide();
    $(".watch").click(function () { $("body").spin() });
    $(".unsubscribe").click(function () { $("body").spin() });
  <% end %>
</script>