<h1>Delayed Job</h1>

<table class="jobs">
    <tr>
      <th>Created at</th>
      <th>Run at</th>
      <th>Failed at</th>
      <th>Attempts</th>
      <th>Last error</th>
      <th>Handler</th>
      <th>Locked at</th>
      <th>Locked by</th>
      <th/>
    <tr/>
    <% @jobs.each do |j| %>
      <tr>
	<td><%= j.created_at.localtime %></td>
	<td><%= if j.run_at then j.run_at.localtime end %></td>
	<td><%= if j.failed_at then j.failed_at.localtime end %></td>
	<td><%= j.attempts %></td>
	<td><%= if j.last_error then j.last_error.gsub("\\n", "<br/>").sanitize end %></td>
	<td width=40><%= j.handler.to_s %></td>
	<td><%= if j.locked_at then j.locked_at.localtime end %></td>
	<td><%= j.locked_by %></td>
	<td><span class="comment"><%= link_to 'delete', jobs_delete_path(j), :confirm => 'Are you sure you want to delete this job?', :method => :delete %></span></td>
      </tr>
    <% end %>
    <% if @jobs.length > 0 then %>
      <tr>
	<td colspan=9><%= link_to 'delete all', jobs_delete_all_path, :confirm => 'Delete ALL:  Are you sure?', :method => :delete %></td>
      </tr>
    <% else %>
      <tr class="grey"><td colspan=9 align=left><i>None</i></td></tr>
    <% end %>
  </table>
</p>

<p>
  <div class="job-actions">
    <div class="comment">Actions will be done immediately, and may take several seconds. Results will be shown at the top of the page.</div>
    <div class="item"><%= link_to "Stop", jobs_do_stop_path %></div>
    <div class="item"><%= link_to "Restart", jobs_do_restart_path %></div>
    <div class="item"><%= link_to "Reload", jobs_do_reload_path %></div>
    <div class="item"><%= link_to "Status", jobs_do_status_path %></div>
  </div>
</p>