<h1>Registration accepted</h1>

<p>
Thank you for registering for <%= link_to @talk.title, @talk %>

<p>
Here is the registration information we recorded:

<div>Name: <%= @reg.name %></div>
<div>Email: <%= @reg.email %></div>
<div>Organization: <%= @reg.organization %></div>

<p>
You may
<%= link_to "cancel your registration", cancel_external_registration_talk_path(@talk, :registration => @reg,
       :secret => @reg.secret) %> at any time.
