<h1><%= @title %></h1>

<%= form_for @talk do |f| %>

<%= f.error_messages :header_message => "Invalid talk", :message => nil, :header_tag => :div %>

<table class="edit-talk">

<tr><th>Title</th><td><%= f.text_field :title %></td></tr>
<tr><th>Speaker</th><td><%= f.text_field :speaker %></td></tr>

<tr class="space-above"><th>Date/time</th>
<td><%= text_field_tag :temp_date_time %></td></tr>
<tr><th/><td><span class="comment">MUST contain "from" and "to", e.g., "Jan 5 from 2 to 5pm" or "Tuesday from 10 to 11"</span></td></tr>
<tr><th><i>OR</i></th><td/></tr>
<tr><th>Date</th><td><%= text_field_tag :temp_date, @date %> <span class="comment">(mm/dd/yyyy, e.g., "12/31/2011")</span></td></tr>
<tr><th>Start time</th><td><%= text_field_tag :temp_start_time, @start_time %> <span class="comment">(hh:mm a/pm, e.g., "3:00 pm")</span></td></tr>
<tr><th>End time</th><td><%= text_field_tag :temp_end_time, @end_time %></td></tr>


<tr class="space-above abstract"><th>Abstract</th><td><%= f.text_area :abstract, :class => "ckeditor" %></td></tr>

<% if can? :edit_owner, @talk %>
<th>Owner</th>
<td><%= f.collection_select(:owner_id, User.all, :id, :email_and_name) %></td>
<% end %>

</table>

<p>
<%= f.submit %>

<% end %>

<script>
  $("#temp_date").datepicker( { minDate: new Date() } );
</script>