<h1><%= @title %></h1>

<%= form_for @talk do |f| %>

<%= f.error_messages :header_message => "Invalid talk", :message => nil, :header_tag => :div %>

<table class="edit-talk">

<tr><th>Title</th><td><%= f.text_field :title %></td></tr>
<tr><th>Speaker</th><td><%= f.text_field :speaker %></td></tr>
<tr><th>Speaker Affiliation</th><td><%= f.text_field :speaker_affiliation %></td></tr>
<tr><th>Speaker URL</th><td><%= f.text_field :speaker_url %></td></tr>
<tr><th>Venue</th><td><%= f.text_field :room %> <%= f.collection_select(:building_id, Building.all.sort { |a,b| a.abbrv <=> b.abbrv}, :id, :abbrv_and_name, :include_blank => true) %><span class="comment">Enter room and building</span></td></tr>
</td></tr>
<% if Talk.get_kind_values.length > 1 %>
  <tr><th class="align-top">Kind of talk</th>
  <td>
    <% Talk.get_kind_values.each do |v| %>
<%# v[0] = string, v[1] = symbol %>
      <%= f.radio_button :kind, v[1] %>
      <%= f.label :kind, v[0], :value => v[1] %>
    <% end %>
  </td>
</tr>
<% end %>
<tr><th class="align-top">Options</th>
  <td>
    <%= f.check_box :request_reg %> <%= f.label :request_reg %><br>
    <%= f.check_box :trigger_watch_email %> <%= f.label :trigger_watch_email %>
  </td>
</tr>

<tr class="space-above"><th>Date/time</th>
<td><%= text_field_tag :temp_date_time %></td></tr>
<tr><th/><td><span class="comment">MUST contain "from" and "to", e.g., "Jan 5 from 2 to 5pm" or "Tuesday from 10 to 11"</span></td></tr>
<tr><th><i>OR</i></th><td/></tr>
<tr><th>Date</th><td><%= text_field_tag :temp_date, @date %> <span class="comment">(mm/dd/yyyy, e.g., "12/31/2011")</span></td></tr>
<tr><th>Start time</th><td><%= text_field_tag :temp_start_time, @start_time %> <span class="comment">(hh:mm a/pm, e.g., "3:00 pm")</span></td></tr>
<tr><th>End time</th><td><%= text_field_tag :temp_end_time, @end_time %></td></tr>


<tr class="space-above">
  <th class="align-top">Lists</th>
  <td>
    <%= render :partial => "shared/expanding_list", :locals => { :name => "posted", :current_elts => @posted, :all_elts => @lists, :elt_to_string => :name } %>
  </td>
</tr>

<% if can? :edit_owner, @talk %>
<tr>
  <th>Owner</th>
  <td><%= f.collection_select(:owner_id, User.all.sort { |a,b| a.email_and_name <=> b.email_and_name }, :id, :email_and_name) %></td>
</tr>
<% end %>

<tr class="space-above"><th class="align-top">Abstract</th><td><%= f.text_area :abstract, :class => "tinymce", :rows => 20, :cols => 84 %></td></tr>

<tr class="space-above"><th class="align-top">Bio</th><td><%= f.text_area :bio, :class => "tinymce", :rows => 20, :cols => 84 %></td></tr>
<tr><th/><td><span class="comment">(May be omitted)</span></td></tr>

<tr class="space-above reg-info"><th class="align-top">Additional reg info</th><td><%= f.text_area :reg_info, :class => "tinymce", :rows => 20, :cols => 84 %></td></tr>
<tr class="reg-info"><th/><td><span class="comment">(May be omitted; will be emailed to external participants)</span></td></tr>

</table>

<p>
<%= f.submit %>

<% end %>

<script>
  $("#temp_date").datepicker( { minDate: new Date() } );
  $("#talk_request_reg").click(function () {
    if ($("#talk_request_reg").is(":checked"))
      $(".reg-info").show();
    else
      $(".reg-info").hide();
  });
  if ($("#talk_request_reg").is(":checked"))
    $(".reg-info").show();
  else
    $(".reg-info").hide();
</script>
