<% content_for :left_sidebar do %>
  <ul>
  <li class="title"><%= link_to "All lists", root_path %></li>
  <% @lists.each do |l| %>
    <li><%= link_to l.name, l %></li>
  <% end %>
  </ul>
<% end %>


<h1>Feedback</h1>

<%= form_tag receive_feedback_talks_path do %>

<table class="feedback">
<tr><th>Your name</th><td><%= text_field_tag "name", nil, maxlength: 255 %></td></tr>
<tr><th>Email address</th><td><%= text_field_tag "email", nil, maxlength: 255 %></td></tr>
<tr><th>Subject</th><td><%= text_field_tag "subject", nil, maxlength: 255 %></td></tr>
<tr class="space-above"><th class="align-top">Comments</th><td><%= text_area_tag :comments, nil, class: "tinymce", rows: 20, cols: 84 %></td></tr>
<tr><th/><td>(5000 chars max)</td></tr>
</table>

<p>
  <%= submit_tag 'Submit' %>
</p>

<% end %>
