<% if @upcoming then %>
  <h1>
    Upcoming Talks
    <%= link_to (image_tag "calendar.png"), feed_talks_url(:format => :ics, :protocol => "webcal") %>
    <%= link_to (image_tag "feed.png"), feed_talks_url( :format => :atom) %>
    <span class="comment">(cal/rss for all talks)</span>
    <%= auto_discovery_link_tag(:atom, feed_talks_url(:format => :atom), :action =>"feed") %>
  </h1>
<% else %>
  <h1>All Talks (including past talks)</h1>
<% end %>

<div class="short-talks">
  <%= render :partial => "shared/talks", :locals => { :talks => @talks, :subscriptions => @talk_subscriptions } %>
</div>

<span class="comment">
  <% if @upcoming then %>
    <%= link_to "See all talks", talks_path(:range => :all) %>
  <% else %>
    <%= link_to "See only upcoming talks", talks_path %>
  <% end %>
</span>
