<h1>All talks</h1>

<table class="talks-table">
  <tr><th>Actions</th><th>Id</th><th>Title</th><th>Owner</th><th>Lists</th></tr>
  <% @talks.each do |t| %>

  <tr>
    <td>
      <%= link_to "edit", edit_talk_path(t) %> &nbsp;
      <%= link_to "delete", t,:confirm => "Are you sure?", :method => :delete %>
    </td>
    <td><%= t.id %></td>
    <td><%= link_to t.title, t %></td>
    <td><%= link_to t.owner.name, edit_admin_user_path(t.owner) %></td>
    <td><%= render :partial => "lists_to_links", :locals => {:talk => t } %></td>
  </tr>


  <% end %>
</table>
