<% content_for :left_sidebar do %>
    <ul>
    <li class="title selected">All lists</li>
    <% @lists.each do |l| %>
        <li><%= link_to l.name, l %></li>
    <% end %>
    </ul>
<% end %>

<div class="center-header">
  <span class="title">All Talks</span>
  <%= link_to (image_tag "calendar.png"), feed_talks_url(:format => :ics, :protocol => "webcal"), :title => "ical for all talks" %>
  <%= link_to (image_tag "feed.png"), feed_talks_url( :format => :atom), :title => "rss for all talks" %>
  <%= auto_discovery_link_tag(:atom, feed_talks_url(:format => :atom), :action =>"feed") %>
  <br>
  <% if @upcoming then %>
    <%= link_to "See past talks", talks_path(:range => :past) %>
  <% else %>
    <%= link_to "See upcoming talks", talks_path %>
  <% end %>
</div>

<div class="short-talks">
  <%= render :partial => "shared/talks", :locals => { :talks => @talks, :subscriptions => @talk_subscriptions } %>
</div>
