<div class="show-talk">

  <div class="actions">
    <div class="action-table">
      <% if can? :edit, @talk %>
        <span class="action"><%= link_to "edit", edit_talk_path(@talk) %></span>
        <span class="action"><%= link_to "delete", @talk, :confirm => 'Are you sure?', :method => :delete %></span>
      <% end %>
      <% if @talk.request_reg %>
        <span class="action register"><%= link_to "register", register_talk_path(@talk, :do => "register") %></span>
        <span class="action unregister"><%= link_to "unregister", register_talk_path(@talk, :do => "unregister") %></span>
      <% end %>
    </div>
    <div class="subscribe-table">
      <span class="action subscribe"><%= link_to "subscribe", subscribe_talk_path(@talk, :do => "subscribe"), :remote => true %></span>
      <span class="action unsubscribe"><%= link_to"unsubscribe", subscribe_talk_path(@talk, :do => "unsubscribe"), :remote => true %></span>
      <div class="action watch"><%= link_to "watch", subscribe_talk_path(@talk, :do => "watch"), :remote => true %></div>
    </div>
  </div>

<div class="title">
  <%= @talk.title %>
  <span class="badge-registered"></span>
  <span class="badge-subscriber"></span>
  <span class="badge-watcher"></span>
  <% if @talk.owner? current_user %>
    <span class="badge-owner"></span>
  <% end %>
  <% case @talk.through current_user %>
  <% when :kind_subscriber_through %>
    <span class="badge-subscriber-through"></span>
  <% when :kind_watcher_through %>
    <span class="badge-watcher-through"></span>
  <% end %>
  <%= link_to (image_tag "calendar.png"), calendar_talk_url(@talk, :format => :ics) %>
</div>

<%= render :partial => "shared/talk_speaker", :locals => { :talk => @talk } %>
<%= render :partial => "shared/talk_venue", :locals => { :talk => @talk } %>

<div class="time"><%= @talk.time_to_long_s  %></div>

<hr/>

<div class="abstract">
  <span class="title">Abstract</span>
  <% if @talk.abstract == "" %>
    <div class="abstract-body">(No abstract yet)</div>
  <% else %>
    <div class="abstract-body"><%= @talk.abstract.html_safe %></div>
  <% end %>
</div>

<% if (not @talk.bio.empty?) %>
  <div class="bio">
    <span class="title">Bio</span>
    <div class="bio-body"><%= @talk.bio.html_safe %></div>
  </div>
<% end %>

<% if @talk.request_reg && current_user %>
  <hr/>
  <div class="registration not-registered">
    <b>Registration requested:</b>
    The organizer of this talk requests that you register if you
    are planning to attend. You can register by clicking the registration
    button (upper-right corner of the page). If you change your mind
    later, you can always unregister.
  </div>
  <div class="registration registered">
    <b>Registration requested:</b> Thank you for registering.
  </div>

  <% if can? :edit, @talk %>
    <p>
      <%= link_to "Show registrations", show_registrations_talk_path(@talk) %>
  <% end %>

<% elsif @talk.request_reg && (not current_user) %>
  <hr/>
  <div class="registration">
    <b>Registration requested:</b>
    The organizer of this talk requests that you register if you
    are planning to attend. There are two ways to register:
    (1) You can create an account on this site (click the "register"
    link in the upper-right corner) and then register for this talk;
    or (2) You can enter your details below and click the "Register
    for talk" button. Either way, you can always cancel your
    registration later.

    <p>
    <%= form_tag external_register_talk_path(@talk) do %>
    <div>Name: <%= text_field_tag :name %></div>
    <div>Email: <%= text_field_tag :email %></div>
    <div>Organization: <%= text_field_tag :organization %></div>
    <p>
    <div><%= submit_tag "Register for talk" %></div>
    <% end %>
  </div>
<% end %>

<hr/>

<div class="lists">
<% if not (@talk.lists.empty?) %>
  This talk is part of the following lists: <%= render :partial => "lists_to_links", :locals => {:talk => @talk } %>
<% end %>
</div>

<div class="comment">This talk is organized by <%= @talk.owner.name %></div>

<% if can? :site_admin, :all %>
  <hr/>
  <%= link_to "See all subscribers", show_subscribers_talk_path(@talk) %>
<% end %>

<script>
  $(".register").click(function () { $("body").spin() });
  $(".unregister").click(function () { $("body").spin() });
  $(".subscribe").click(function () { $("body").spin() });
  $(".watch").click(function () { $("body").spin() });
  $(".unsubscribe").click(function () { $("body").spin() });
</script>

<script>
  <%= render :partial => "shared/update_badges.js.erb", :locals => { :subscribable => @talk } %>
</script>
