<div class="show-talk">

  <div class="actions">
    <div class="action-table">
      <% if can? :edit, @talk %>
        <span class="action"><%= link_to image_tag("buttons/edit.png"), edit_talk_path(@talk) %></span>
        <span class="action"><%= link_to image_tag("buttons/delete.png"), @talk, :confirm => 'Are you sure?', :method => :delete %></span>
      <% end %>
    </div>
    <div class="subscribe-table">
      <span class="action subscribe"><%= link_to image_tag("buttons/subscribe.png"), subscribe_talk_path(@talk), :remote => true %></span>
      <span class="action unsubscribe"><%= link_to image_tag("buttons/unsubscribe.png"), unsubscribe_talk_path(@talk), :remote => true %></span>
      <div class="action watch"><%= link_to image_tag("buttons/watch.png"), watch_talk_path(@talk), :remote => true %></div>
    </div>
  </div>

<div class="title">
  <%= @talk.title %>
  <span class="subscribed"></span>
  <span class="watched"></span>
</div>

<div class="speaker"><%= @talk.speaker %></div>

<div class="time"><%= @talk.time_to_long_s  %></div>

<hr/>

<div class="abstract">
<span class="title">Abstract</span>
<% if @talk.abstract == "" %>
  <div class="abstract-body">(No abstract yet)</div>
<% else %>
  <div class="abstract-body"><%= @talk.abstract.html_safe %></div>
<% end %>
</div>

<hr/>

<div class="lists">
<% if not (@talk.lists.empty?) %>
  This talk is part of the following lists: <%= render :partial => "lists_to_links", :locals => {:talk => @talk } %>
<% end %>
</div>

<div class="comment">This talk is organized by <%= @talk.owner.name %></div>

<script>
  <% if not @subscription %>
    $(".subscribed").hide();
    $(".watched").hide();
    $(".subscribe").click(function () { $("body").spin() });
    $(".watch").click(function () { $("body").spin() });
    $(".unsubscribe").hide();
  <% elsif @subscription.kind == :kind_watch %>
    $(".subscribed").hide();
    $(".subscribe").click(function () { $("body").spin() });
    $(".watch").hide();
    $(".unsubscribe").click(function () { $("body").spin() });
  <% elsif @subscription.kind == :kind_full %>
    $(".watched").hide();
    $(".subscribe").hide();
    $(".watch").click(function () { $("body").spin() });
    $(".unsubscribe").click(function () { $("body").spin() });
  <% end %>
</script>
