<div class="show-talk">

<div class="title"><%= @talk.title %></div>

<div class="speaker"><%= @talk.speaker %></div>

<div class="time"><%= @time  %></div>

<div class="abstract"><%= @talk.abstract.html_safe %></div>

<div class="comment">This talk is organized by <%= @talk.owner.name %></div>

</div>