<div class="show-talk">

  <div class="actions">
    <div class="action-table">
      <% if can? :edit, @talk %>
        <span class="action"><%= link_to "edit", edit_talk_path(@talk) %></span>
        <span class="action"><%= link_to "delete", @talk, :confirm => 'Are you sure?', :method => :delete %></span>
      <% end %>
    </div>
    <div class="subscribe-table">
      <span class="action subscribe"><%= link_to "subscribe", subscribe_talk_path(@talk, :do => "subscribe"), :remote => true %></span>
      <span class="action unsubscribe"><%= link_to"unsubscribe", subscribe_talk_path(@talk, :do => "unsubscribe"), :remote => true %></span>
      <div class="action watch"><%= link_to "watch", subscribe_talk_path(@talk, :do => "watch"), :remote => true %></div>
    </div>
  </div>

<div class="title">
  <%= @talk.title %>
  <span class="badge-subscriber"></span>
  <span class="badge-watcher"></span>
    <% if @talk.owner? current_user %>
      <span class="badge-owner"></span>
    <% end %>
    <% case @talk.through current_user %>
    <% when :kind_subscriber_through %>
      <span class="badge-subscriber-through"></span>
    <% when :kind_watcher_through %>
      <span class="badge-watcher-through"></span>
    <% end %>
    <%= link_to (image_tag "calendar.png"), calendar_talk_url(@talk, :format => :ics) %>
</div>

<%= render :partial => "shared/talk_speaker", :locals => { :talk => @talk } %>
<%= render :partial => "shared/talk_venue", :locals => { :talk => @talk } %>

<div class="time"><%= @talk.time_to_long_s  %></div>

<hr/>

<div class="abstract">
<span class="title">Abstract</span>
<% if @talk.abstract == "" %>
  <div class="abstract-body">(No abstract yet)</div>
<% else %>
  <div class="abstract-body"><%= @talk.abstract.html_safe %></div>
<% end %>
</div>

<hr/>

<div class="lists">
<% if not (@talk.lists.empty?) %>
  This talk is part of the following lists: <%= render :partial => "lists_to_links", :locals => {:talk => @talk } %>
<% end %>
</div>

<div class="comment">This talk is organized by <%= @talk.owner.name %></div>

<script>
  $(".subscribe").click(function () { $("body").spin() });
  $(".watch").click(function () { $("body").spin() });
  $(".unsubscribe").click(function () { $("body").spin() });
</script>

<script>
  <%= render :partial => "shared/update_badges.js.erb", :locals => { :subscribable => @talk } %>
</script>
