<h1>Registrations</h1>

<p>Talk title: <%= link_to @talk.title, @talk %>

<table class="regs-table" border=1>
  <tr><th>Actions</th><th>Email</th><th>Name</th><th>Org</th><th>Registered on</th></tr>

<% @regs.each do |r| %>
  <% if r.user_id > 0 %>
    <tr>
      <td><%= link_to "cancel", cancel_registration_talk_path(r), :method => :post %>
      <td><%= r.user.email %></td>
      <td><%= r.user.name %></td>
      <td><%= r.user.organization %></td>
      <td><%= r.updated_at %></td>
  <% end %>
<% end %>

</table>

<% if can? :site_admin, :all %>

<h2>Register more users</h2>

<%= form_tag add_registrations_talk_path(@talk) do %>
<p>
  <%= render :partial => "shared/expanding_list", :locals => {:name => "user", :current_elts => [], :all_elts => @users, :elt_to_string => :email_and_name } %>

<p>
  <%= submit_tag 'Register' %>
<% end %>

<% end %>