<% if can? :edit_user, current_user %>
  <%= link_to "Edit profile", edit_user_registration_path %>
<% end %>

<h2>Your lists</h2>

<ul>
  <% @lists.each do |l| %>
    <li>
      <%= link_to l.name, l %>
      <% if l.owner? current_user %>
        <span class="badge-owner"></span>
      <% end %>
      <% if l.poster? current_user %>
        <span class="badge-poster"></span>
      <% end %>
      <% if @list_subscriptions[l] == :kind_subscriber %>
        <span class="badge-subscriber"></span>
      <% end %>
      <% if @list_subscriptions[l] == :kind_watcher %>
        <span class="badge-watcher"></span>
      <% end %>
    </li>
  <% end %>
</ul>

<% if @upcoming then %>
   <h2>Your Upcoming Talks <%= link_to (image_tag "ical-24.png"), feed_user_url(current_user, :format => :ics, :protocol => "webcal", :key => current_user.ical_secret) %></h2>
<% else %>
   <h2>Your Talks (including past talks) <%= link_to (image_tag "ical-24.png"), feed_user_url(current_user, :format => :ics, :protocol => "webcal", :key => current_user.ical_secret) %></h2>
<% end %>

<div class="short-talks">
  <%= render :partial => "shared/talks", :locals => { :talks => @talks, :subscriptions => @talk_subscriptions } %>
</div>

<span class="comment">
  <% if @upcoming then %>
    <%= link_to "See all talks", user_path(current_user, :all => true) %>
  <% else %>
    <%= link_to "See only upcoming talks", current_user %>
  <% end %>
</span>
