<% content_for :left_sidebar do %>
    <ul>
    <li class="title">Your lists</li>
     <% @your_lists.each do |l| %>
        <li><%= link_to l.name, l %></li>
     <% end %>
    <br/>
    <li class="title"><%= link_to "All lists", root_path %></li>
    <% @lists.each do |l| %>
        <li><%= link_to l.name, l %></li>
    <% end %>
    </ul>
<% end %>

<div class="center-header">
  <span class="title">Your talks</span>
  <%= link_to (image_tag "calendar.png"), feed_user_url(current_user, :format => :ics, :protocol => "webcal", :key => current_user.ical_secret) %>
  <%= link_to (image_tag "feed.png"), feed_user_url(@list, :format => :atom, :key => current_user.ical_secret) %>
  <%= auto_discovery_link_tag(:atom, feed_user_url(@list, :format => :atom, :key => current_user.ical_secret), :action =>"feed") %>
  <span class="comment">(cal/rss for your subscribed lists/talks)</span>
  <br>
  <% if @upcoming then %>
    <%= link_to "See past talks", user_path(current_user, :range => :past) %>
  <% else %>
    <%= link_to "See upcoming talks", current_user %>
  <% end %>
</div>

<div class="short-talks">
  <%= render :partial => "shared/talks", :locals => { :talks => @talks } %>
</div>