<% if false %>
 parameters:

   talks - array of talks, sorted and uniqified

<% end %>

<% last_talk = nil %>
<% last_interval = nil %>

<div>
<% talks.each do |t| %>
  <% if (t.past? && last_interval != :past) %>
    </div>
    <div class="past-talks">
    <div class="header">Past talks</div>
    <% last_interval = :past %>
  <% elsif (t.later_this_week? && last_interval != :later_this_week) %>
    </div>
    <div class="this-weeks-talks">
    <% last_interval = :later_this_week %>
  <% elsif (t.next_week? && last_interval != :next_week) %>
    </div>
    <div class="next-weeks-talks">
    <div class="header">Next week</div>
    <% last_interval = :next_week %>
  <% elsif (t.further_ahead? && last_interval != :further_ahead) %>
    </div>
    <div class="further-ahead-talks">
    <div class="header">Further ahead</div>
    <% last_interval = :further_ahead %>
  <% end %>
  <% if (not last_talk) || (t.start_time.to_date != last_talk.start_time.to_date) %>
    <div class="day">
      <% if t.start_time.today? %>
        Today,
      <% elsif (t.start_time - 1.day).today? %>
        Tomorrow,
      <% end %>
      <%= format_day(t.start_time.to_date) %>
    </div>
  <% end %>
  <% last_talk = t %>

  <div class="short-talk">
    <div class="big-time">
      <div class="start-time"><%= t.start_time.strftime "%l:%M %P" %></div>
      <div class="end-time">-<%= t.end_time.strftime "%l:%M %P" %></div>
      <div class="cal"><%= link_to (image_tag "calendar.png"), calendar_talk_url(t, :format => :ics), :title => "ical for this talk only" %></div>
    </div>
    <div class="body">
      <div class="lists"><%= render_lists(t) %></div>
      <div class="title">
	<%= link_to t.title, t %>
      </div>
      <div class="speaker"><%= render_speaker(t)  %></div>
      <div class="venue"><%= render_venue(t) %></div>
    </div>
  </div>

  <% end %>
</div>
