<% if false %>
 parameters:

   talks - array of talks, sorted and uniqified
   subscriptions - hash map from talks to subscription kind

<% end %>

<% h = organize_talks talks %>

<% unless h[:past].empty? %>
  <h2>Past talks</h2>
  <% h[:past].each do |t| %>
    <%= render :partial => "shared/short_talk", :locals => { :talk => t, :subscription_kind => subscriptions[t] } %>
  <% end %>
<% end %>

<% unless h[:today].empty? %>
  <h2>Today (<%= Date::DAYNAMES[Time.now.wday] %>)</h2>
  <% h[:today].each do |t| %>
    <%= render :partial => "shared/short_talk", :locals => { :talk => t, :subscription_kind => subscriptions[t] } %>
  <% end %>
<% end %>

<% (0..6).each do |wday| %>
  <% unless h[:later_this_week][wday].empty? %>
    <h2><%= Date::DAYNAMES[wday] %></h2>
    <% h[:later_this_week][wday].each do |t| %>
      <%= render :partial => "shared/short_talk", :locals => { :talk => t, :subscription_kind => subscriptions[t] } %>
    <% end %>
  <% end %>
<% end %>

<hr>

<h1>Next week</h1>

<% (0..6).each do |wday| %>
  <% unless h[:next_week][wday].empty? %>
    <h2><%= Date::DAYNAMES[wday] %></h2>
    <% h[:next_week][wday].each do |t| %>
      <%= render :partial => "shared/short_talk", :locals => { :talk => t, :subscription_kind => subscriptions[t] } %>
    <% end %>
  <% end %>
<% end %>

<% unless h[:beyond].empty? %>

<hr>

<h1>Father ahead</h1>

<% h[:beyond].each do |t| %>
  <%= render :partial => "shared/short_talk", :locals => { :talk => t, :subscription_kind => subscriptions[t] } %>
<% end %>

<% end %>