<% if false %>

parameters:

   talk - the talk
   changes - nil (new talk/no change annotations) or subset of Set(:title, :speaker, :venue, :time, :abstract, :bio, :reg)

<% end %>

<% if changes && (changes.include? :title) %><div style="background-color: #ffff00"><% end %>
  <div style="font-size: x-large; color: #fe5f5f;"><%= link_to talk.extended_title, talk_url(talk) %></div>
<% if changes && (changes.include? :title) %></div><% end %>

<% if changes && (changes.include? :speaker) %><div style="background-color: #ffff00"><% end %>
  <div style="font-size: large;"><%= render_speaker(talk)  %></div>
<% if changes && (changes.include? :speaker) %></div><% end %>

<% if changes && (changes.include? :venue) %><div style="background-color: #ffff00"><% end %>
  <div><%= render_venue(talk) %></div>
<% if changes && (changes.include? :venue) %></div><% end %>

<% if changes && (changes.include? :time) %><div style="background-color: #ffff00"><% end %>
  <div><%= render_time(talk) %></div>
<% if changes && (changes.include? :time) %></div><% end %>

  <div style="display:block; padding-top: 15px;" >
<% if changes && (changes.include? :abstract) %>
    <span style="font-weight: bold; font-size: large; background-color: #ffff00">Abstract</span>
<% else %>
    <span style="font-weight: bold; font-size: large;">Abstract</span>
<% end %>
    <% if talk.abstract == "" %>
      <div style="font-family: Georgia, Cambria, 'Times New Roman', Times, serif; font-style: italic;">(No abstract yet)</div>
    <% else %>
      <div style="font-family: Georgia, Cambria, 'Times New Roman', Times, serif;"><%= talk.abstract.sanitize %></div>
    <% end %>
  </div>

  <% unless talk.bio.empty? %>
    <div style="display:block; padding-top: 15px;" >
<% if changes && (changes.include? :bio) %>
      <span style="font-weight: bold; font-size: large; background-color: #ffff00">Bio</span>
<% else %>
      <span style="font-weight: bold; font-size: large;">Bio</span>
<% end %>
      <div style="font-family: Georgia, Cambria, 'Times New Roman', Times, serif;"><%= talk.bio.sanitize %></div>
  </div>
  <% end %>

<% if talk.request_reg %>
<% if changes && (changes.include? :reg) %><div style="background-color: #ffff00"><% end %>
    <b>Registration requested:</b>
<% if changes && (changes.include? :reg) %></div><% end %>
    The organizer of this talk requests that you register if you are
    planning to attend. You can register by clicking on the title of
    the talk to go to the talks server, and registering there.

<% elsif changes && (changes.include? :reg) %>

<div style="background-color: #ffff00">This organizer of this talk no longer requests that you register for the talk.</div>

<% end %>

<% if not (talk.lists.empty?) %>
  This talk is part of the following lists: <%= render_lists(talk) %>
<% end %>

<% unless !changes || changes.empty? %>
<p>
<div style="background-color: #ffff00; padding: 5px;">Changes from original talk announcement have been highlighted</div>
</p>
<% end %>

