<h1>Help</h1>

<p>
This web site helps make it easy to disseminate information about
talks. There are two basic entities the site tracks:
<i>talks</i> and <i>lists</i>. Talks include basic information about a
presentation, including the speaker, date/time, venue, abstract, etc,
and each talk may be cross-posted to one or more lists. Lists contain
a set of talks, and typically correspond to a particular seminar
series or other theme.

<p>
Information about lists and talks is open to anyone, but to take full
advantage of the site, you'll need to create an account. Once you do
so, you can <i>subscribe</i> to lists or individual talks, and then
receive your cumulative subscription in one or more ways, including as
email reminders at a rate you select; an ical feed; and an rss feed.

<p>
The goal of this site is to make it easy to post a talk so the right
set of people will see it, to eliminate duplicate talk announcements,
and to cut down on spam reminders about talks.

<p>
This site requires JavaScript to work fully. If you use the site with
JavaScript turned off, it may behave unexpectedly.

<h2>Your Account</h2>

<h3>Registration</h3>

<p>
You can register for the site by clicking the <%= link_to "register",
new_user_registration_path %> link near the top of the page. To
register, you must provide your email address and a password. We also
ask you to provide your name and your organization (leave this blank
if you are affiliated with UMD). After you register, you will receive
an email with a confirmation link you must follow to activate your
registration. You can click on 
<%= link_to "Didn't receive confirmation instructions?",
    new_confirmation_path(:user) %> on the registration page
to resend the confirmation email. Once your account is activated, you
may <%= link_to "log in", new_user_session_path %>.

<h3>Subscriptions</h3>

<p>
Once you log in to the site, you can subscribe to talks or
lists. To subscribe to a talk or list, go to its page when you are
logged in and click the subscribe button. If you want to cancel a
subscription, click the unsubscribe button.

<p>
Once you have subscribed to some lists or talks, you can go to your
profile page (click your name above) to see a cumulative list of all
the upcoming taks you have subscribed to, either directly (by
subscribing to the talk itself) or indirectly (by subscribing to a
list containing the talk). Even if a talk appears on multiple lists
you are subscribed to, you should only see it once on your list. As
new talks are posted to lists you subscribe to, your list of upcoming
talks will automatically be updated with those talks.

<p>
There are several ways to receive information your upcoming talks
subscription:
<ul>
<li>By default, you will receive an email each Sunday containing a
  list of upcoming talks for that week, and an email each day
  containing a list of upcoming talks for that day. You can disable
  this feature by editing your profile (see the link on your account
  page).
<li>Your account page includes a link to a calendar feed containing
  your talk information. If your browser recognizes
  the <tt>webcal://</tt> protocol, then clicking on the link should
  ask your calendar program to subscribe to the feed. Otherwise, you
  may need to cut and paste the calendar feed URL into your calendar
  program.
<li>Your account page also include a link to an atom feed containing
  your talk information. You can subscribe to that feed using your
  favorite rss reader.
</ul>

<p>
Even if you decide not to create an account on the site, you can still
receive talk information automatically: each list and each talk has
its own calendar feed button, and each list also has an atom feed
button. However, if you subscribe this way the site cannot remove
duplicate talk announcements, and it cannot send you email.

<p>
<i>The following functionality is not yet implemented:</i>
In addition to subscribing to talks and lists, you may
also <i>watch</i> a talk or list. In this case, the talk or list is
not added to your list of upcoming talks. However, you will receive an
email whenever there is an update to the talk or list. This is most
useful when you want to keep track of the talks posted on a list, but
you don't necessarily want to attend all of them; you can watch the
list, and then subscribe individually to each talk you want on your
upcoming talk list.

<h3>Badges</h3>

<p>
If you are logged in, you may see a number of badges next to talk
and list names. The badges have the following meanings:

<table border=1>
  <tr>
    <td><span class="badge-subscriber"></span></td>
    <td>You are subscribed to this talk/list</td>
  </tr>
  <tr>
    <td><span class="badge-watcher"></span></td>
    <td>You are watching this talk/list</td>
  </tr>
  <tr>
    <td><span class="badge-subscriber-through"></span></td>
    <td>You are subscribed to this talk because you are subscribed to
    a list containing it</td>
  </tr>
  <tr>
    <td><span class="badge-watcher-through"></span></td>
    <td>You are watching this talk because you are watching a list
    containing it</td>
  </tr>
  <tr>
    <td><span class="badge-registered"></span></td>
    <td>You are registered for this talk</td>
  </tr>
  <tr>
    <td><span class="badge-owner"></span></td>
    <td>You are an owner of this talk/list</td>
  </tr>
</table>

<h3>Icons</h3>

<p>
The following icons are used on the site:

<table>
  <tr>
    <td><%= image_tag "calendar.png" %></td>
    <td>ical feed link</td>
  </tr>
  <tr>
    <td><%= image_tag "feed.png" %></td>
    <td>atom feed link</td>
  </tr>
</table>

</table>

<h2>Managing a list</h2>

<p>
If you would like to add a new list to the site, please contact the
site administrators and ask them to create the list for you; you'll
need to supply at least a short name for the list, e.g., "PL Reading
Group." Lists also have a short description (e.g., "Programming
Languages Reading Group," shown on the list's page and on the page
with <%= link_to "all lists", lists_path %>) and a long description
(shown on the list's page).

<p>
Each list also has one or more <i>owners</i>; when you ask to have a
list created for you, the site administrators will make you an owner
of the list. As an owner, you can edit the list to change its name,
short and long description, set of owners, and set of <i>posters</i>,
who are people who have permission to add a talk to your list. Note:
it is possible to remove yourself as an owner, so be sure not to do
that inadvertantly. You can edit a list by going to the list's page
and clicking on the edit button. This button will only appear if you
are a list owner; contact the site administrators if you think you
should be able to edit a list but cannot.

<h2>Posting a talk</h2>

<p>
If you want to add a new talk to the site, you need a permission added
to your account; contact the site administrators to request this. Once
you have permission, you can <%= link_to "create a new talk",
new_talk_path %> (another link for this should appear in the bar
above). Each talk has a title, speaker (with optional associated URL),
venue, date/time, abstract, and speak bio (optional). A venue is a
room and a building, where the latter is drawn from a set the site
knows about. To have a new building added, contact the site
administrators. You can also just leave the building blank, and give
complete location information under "room."

<p>
When you create a talk, you become the owner of the talk, which gives
you permission to edit the talk in the future. (Contact the site
administrators to change the owner of a talk.)  Each talk can also be
posted to zero or more lists. You must have permission to post to a
list before you can do so; contact the owner of the list to get this
permission. Note: after posting a talk to a list, you automatically
give permission for the list owner to also edit the talk information.

<p>
<b>Important:</b>
Basic information about all lists and talks is <b>public</b>; thus,
please do not put any information on this site you don't want the
world to know about.

<h2>Talks with registration</h2>

<p>
When creating a talk, you can optionally specify that the you request
registration for the talk. If you select this option, then the talk
page will include instructions asking attendees to register. If an
attendee is logged into the site, they can register by clicking the
"register" button; once registered, they can unregister by clicking
the appropriate button.  If an attendee is not logged into the site
and does not want to create an account (i.e., they are an <i>external
user</i>), they will be presented with a short form to fill out to
register, including their name, email address, and
organization. External users who register will receive an email with a
registration confirmation. (Note that logged-in users will <i>not</i>
receive such an email.) The confirmation includes a link that allows
external registrants to cancel their registration.

<p>
If you can edit a talk with registration, then on the talk page you
will see a link "Show registrations" to list everyone who has
registered. You can also cancel individual registrations, if
necessary. You can register an external user yourself if you want by
logging out of the site, going to the talk's page, and entering their
information. You can ask the site administrators if you need to
register a user with an account on the site.

<h1>Other Information</h1>

<h2>Author</h2>

<p>
Web site by <a href="http://www.cs.umd.edu/~jfoster">Jeff Foster</a>.

<p>
Source code available at <a href="https://github.com/jeffrey-s-foster/talks">https://github.com/jeffrey-s-foster/talks</a>

<h2>Acknowledgments</h2>

<p>
Some icons by <a href="http://p.yusukekamiyamane.com/">Yusuke Kamiyamane</a>. All rights reserved. Licensed under a <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 License</a>.

<p>
Web site design inspired by <a href="http://talks.cam.ac.uk/">talks.cam</a>
