<h2>Edit User</h2>

<%= form_for @user, :url => admin_user_path(@user) do |f| %>
  <%= f.error_messages :header_message => "Error", :message => nil, :header_tag => :div %>

  <div><%= f.label :name %><br />
  <%= f.text_field :name, :value => @user.name %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.check_box :perm_site_admin %> <%= f.label :perm_site_admin %>
  <div><%= f.check_box :perm_create_talk %> <%= f.label :perm_create_talk %>
  
  <div><%= f.submit "Update" %></div>
<% end %>
