<!DOCTYPE html>
<html>
  <head>
  <title>Talks</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="site-title">
  <div class="account">
    <% if user_signed_in? %>
      Welcome, <%= current_user.name %>!
      &nbsp;|&nbsp;
      <%= link_to "my list", current_user %>
      &nbsp;|&nbsp;
      <%= link_to "my profile", edit_user_path(current_user) %>
      <% if can? :create, Talk %>&nbsp;|&nbsp;<%= link_to "new talk", new_talk_path %><% end %>
      <% if can? :create, List then %>&nbsp;|&nbsp;<%= link_to "new list", new_list_path %><% end %>
      <% if can? :site_admin, nil then %>&nbsp;|&nbsp;<%= link_to "admin", admin_index_path %><% end %>
      &nbsp;|&nbsp;
      <%= link_to "log out", destroy_user_session_path(user_session), :method => :delete %>
    <% else %>
       <%= link_to "log in", new_user_session_path %>
       &nbsp;|&nbsp;
       <%= link_to "register", new_user_registration_path %>
    <% end %>
    &nbsp;|&nbsp;
    feedback?
    &nbsp;|&nbsp;
    <%= link_to "help", page_path("help") %>
  </div>
  <%= link_to image_tag("logo.png"), root_path %>
</div>

<div class="main">

<% if content_for? :left_sidebar %>
  <div class="left-sidebar">
    <div class="flash">
      <span class="notice"><%= notice %></span>
      <span class="alert"><%= alert %></span>
    </div>
    <%= yield :left_sidebar %>
  </div>

  <div class="right-scroll-pane">
    <div class="center-pane">
      <%= yield %>
    </div>
  </div>
<% else %>
  <div class="flash">
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
  </div>

    <%= yield %>
<% end %>
  

</div>

</body>
</html>
