<!DOCTYPE html>
<html>
<head>
  <title>Talks</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="site-title">
  <%= link_to "talks.cs.umd.edu", root_path %>
</div>

<div class="login-bar">
  <div class="left">
    <%= link_to "all lists", lists_path %>
    <% if can? :create, Talk %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "new talk", new_talk_path %><% end %>
    <% if can? :create, List then %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "new list", new_list_path %><% end %>
    <% if can? :site_admin, nil then %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "admin", admin_index_path %><% end %>
  </div>
  <div class="right">
    <% if user_signed_in? %>
      <%= link_to current_user.name, current_user %>
<!--
    <% if can? :edit_user, current_user %>
        <%= link_to current_user.name, edit_user_registration_path %>
      <% else %>
        <%= current_user.name %>
      <% end %>
-->
    &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "log out", destroy_user_session_path(user_session), :method => :delete %>
    <% else %>
       <%= link_to "log in", new_user_session_path %>
       &nbsp;&nbsp;|&nbsp;&nbsp;
       <%= link_to "register", new_user_registration_path %>
    <% end %>
  </div>
</div>

<div class="main">

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</div>

</body>
</html>
