<!DOCTYPE html>
<html>
<head>
  <title>Talks</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="site-title">
  <div class="account">
    <% if user_signed_in? %>
      <%= link_to current_user.name, current_user %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= link_to "log out", destroy_user_session_path(user_session), :method => :delete %>
    <% else %>
       <%= link_to "log in", new_user_session_path %>
       &nbsp;&nbsp;|&nbsp;&nbsp;
       <%= link_to "register", new_user_registration_path %>
    <% end %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to "help", page_path("help") %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= link_to "all lists", lists_path %>
    <% if can? :create, Talk %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "new talk", new_talk_path %><% end %>
    <% if can? :create, List then %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "new list", new_list_path %><% end %>
    <% if can? :site_admin, nil then %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "admin", admin_index_path %><% end %>
  </div>
  <%= link_to image_tag("logo.png"), root_path %>
</div>

<div class="main">

  <div class="flash">
    <span class="notice"><%= notice %></span>
    <span class="alert"><%= alert %></span>
  </div>

<%= yield %>

</div>

</body>
</html>
